.logo-parent {
  overflow: hidden;
  padding: 1em;
}
.logo {
  width: 100%;
  height: auto;
}

.lighter {
  /*
  color: #718096;
   */
}

.padded {
  margin: 1em;
}

.not-square {
  height: auto;
}

.mat-icon {
  transform: scale(2);
  padding: 1em;
}
