<div fxLayout="column" fxLayoutAlign="space-evenly center">

  <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <mat-card class="padded" fxFlex="0 1 70" fxFlex.lt-sm="0 1 90">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div class="logo-parent" fxFlex="25">
          <img alt="Picture of Mark" src="assets/images/mark_joanie.jpg" class="logo">
        </div>
        <div>
          <mat-card-title>Dr. Mark Rudolph, PhD</mat-card-title>
          <mat-card-subtitle>Mad Scientist Extraordinaire</mat-card-subtitle>
          <mat-card-content>

            <div class="lighter">
              <p>
                Welcome! This page of the site serves as a sort of running Curriculum Vitae. Read on to learn a little
                more about me, as well as my current and past misadventures!
              </p>
              <h2>About Me:</h2>
              <p>
                Self-driven full stack Scala developer who has focused on designing, implementing, and maintaining
                big features at small companies. With 10+ years of experience using Linux systems,
                5+ years of application development, and far too much education - I'm a firm believer that if you can
                dodge a wrench, you can dodge a ball.
              </p>
              <p>
                My favorite new hobby is roasting my own coffee beans, but I also enjoy drawing (digital and analog),
                music (you can never have too many synthesizers), and learning new technologies.
              </p>
            </div>

          </mat-card-content>
          <mat-card-footer fxLayout="row" fxLayoutAlign="space-evenly center" class="padded">
            <a href="mailto:mark@k8ty.app">
              <fa-icon [icon]="faEmail" size="3x"></fa-icon>
            </a>
            <a href="https://gitlab.com/alterationx10" target="_blank">
              <fa-icon [icon]="faGitLab" size="3x"></fa-icon>
            </a>
            <a href="https://twitter.com/alterationx10" target="_blank">
              <fa-icon [icon]="faTwitter" size="3x"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/alterationx10/" target="_blank">
              <fa-icon [icon]="faLinkedIn" size="3x"></fa-icon>
            </a>
          </mat-card-footer>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <mat-card class="padded" fxFlex="0 1 70" fxFlex.lt-sm="0 1 90">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div class="logo-parent" fxFlex="25">
          <img alt="kangarootime Company Logo" width="156px" src="assets/images/kangaroo.png" class="logo">
        </div>
        <div>
          <mat-card-title>Kangarootime</mat-card-title>
          <mat-card-subtitle>Software Engineer :: 2019-Present</mat-card-subtitle>
          <mat-card-content>

            <div class="lighter">
              <p>
                I work as part of a team building and delivering a full suite of cloud based software for childcare
                centers and preschools.
                Kangarootime was the 2017 winner of the <a href="https://www.43north.org/" target="_blank">43 North</a>
                contest.
              </p>
            </div>

          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <mat-card class="padded" fxFlex="0 1 70" fxFlex.lt-sm="0 1 90">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div class="logo-parent" fxFlex="25">
          <img alt="Evil Lair Studios Company Logo" src="assets/images/els.png" class="logo">
        </div>
        <div>
          <mat-card-title>Evil Lair Studios</mat-card-title>
          <mat-card-subtitle>Chief Super Villain :: 2016-2020</mat-card-subtitle>
          <mat-card-content>

            <div class="lighter">
              <p>
                I own(ed) and operate(d) Evil Lair Studios, LLC - a side project in the 'Maker' spirit.
                I design/build things with my trusty CO2 Laser Cutter, CNC Milling Machine, and 3D Printer.
              </p>
              <p>
                I had originally started the company to self publish some game titles with based around super villains,
                hence the fun name. I decided to keep the theme, because what super villain doesn't love elaborate
                contraptions?! 😜
              </p>
              <p>
                As of late 2019, I no longer had the time to put into it any longer, and spun the venture down.
              </p>
            </div>

          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>


  <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <mat-card class="padded" fxFlex="0 1 70" fxFlex.lt-sm="0 1 90">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div class="logo-parent" fxFlex="25">
          <img alt="Blue Orange Digital Company Logo" src="assets/images/bod.png" class="logo">
        </div>
        <div>
          <mat-card-title>Blue Orange Digital</mat-card-title>
          <mat-card-subtitle>Senior Scala Engineer :: 2018-2019</mat-card-subtitle>
          <mat-card-content>

            <div class="lighter">
              <p>
                Blue Orange Digital is a an integrated full-stack data science agency. In my time there, I helped
                shore up the infrastructure of a multi-billion dollar hedge fund based in Stamford, Connecticut.
                I worked to troubleshoot, improve, and document their containerized Scala/Akka micro service
                platform backed by Kafka/MongoDB/MS SQLServer.
              </p>
            </div>

          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <mat-card class="padded" fxFlex="0 1 70" fxFlex.lt-sm="0 1 90">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div class="logo-parent" fxFlex="25">
          <img alt="Vaspian Company Logo" src="assets/images/vaspian.png" class="logo">
        </div>
        <div>
          <mat-card-title>Vaspian</mat-card-title>
          <mat-card-subtitle>Full Stack Developer :: 2014-2018</mat-card-subtitle>
          <mat-card-content>

            <div class="lighter">
              <p>
                Vaspian is a cloud-based VoIP provider located in Buffalo, NY. In my time there, I focused on building
                and automating platforms that provide advanced analytics and interfaces to our customers,
                as well as enhanced operational tools for internal service provisioning.
              </p>
              <p>
                Some of the larger projects I lead while working there include:
              </p>
              <h2>In-House Kubernetes</h2>
              <p>
                Designed, built, and maintain our own bare-metal Kubernetes cluster for application deployment.
                Building this all-in-one system allowed us to more reliably deliver our current
                applications/services to our customers, promptly roll out new features,
                as well as offer new services that were intractable to manage before.
              </p>
              <h2>Customer Facing Applications</h2>
              <p>
                Built and maintain our main customer facing portal, which provides custom reporting and real-time
                event integration with our core phone system. Using Scala and Akka, along with the Play Framework,
                we have been able to roll out stable, scalable services that are agile enough to grow with our
                customers.
              </p>
              <h2>Internal Tooling</h2>
              <p>
                Built and maintain middleware for maintenance/administration of systems built by our internal Network
                Engineers which allows our customer service/support staff to perform more technical tasks such as:
              </p>
              <ul>
                <li>Dynamically provision custom services for our customers</li>
                <li>Manage and troubleshoot customer configurations</li>
                <li>Monitor customer service status in real time</li>
              </ul>
            </div>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>


  <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <mat-card class="padded" fxFlex="0 1 70" fxFlex.lt-sm="0 1 90">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div class="logo-parent" fxFlex="25">
          <img alt="Sensorcon Company Logo" src="assets/images/sensorcon.png" class="logo">
        </div>
        <div>
          <mat-card-title>Sensorcon</mat-card-title>
          <mat-card-subtitle>Scientist/Software Developer :: 2011-2014</mat-card-subtitle>
          <mat-card-content>

            <div class="lighter">
              <p>
                Sensorcon is a developer and manufacturer of environmental sensors located in Williamsville, NY.
                In my time there, I was part of a small start-up team focusing on bringing products to market
                from the ground up. My primary focus was working with firmware engineers to write libraries and customer
                facing applications (iOS, Android, PC) that could talk to our sensor devices via Bluetooth.
              </p>

              <p>
                Relevant software projects include:
              </p>

              <ul>
                <li>iOS/Android/Java API library development to integrate with our sensors</li>
                <li>iOS/Android App development</li>
                <li>Internal inventory system to improve our manufacturing capacity</li>
                <li>Automated QA testing protocols and procedures for sensor development, to enable technicians to batch
                  process sensors in a reliable and repeatable manner
                </li>
                <li>Automated QC testing procedures for production, to promptly identify issues before they reached
                  consumers
                </li>
              </ul>

              <p>
                For posterity, I have a copy of the <a href="https://gitlab.com/alterationx10/Sensordrone"
                                                       target="_blank">Sensordrone Library</a>
                and the main <a href="https://gitlab.com/alterationx10/Sensordrone-Control" target="_blank">Android
                App</a> up on my GitLab account.
                You can also check out the (archived)
                <a
                  href="https://www.kickstarter.com/projects/453951341/sensordrone-the-6th-sense-of-your-smartphoneand-be"
                  target="_blank">KickStarter</a>
                campaign we ran!
              </p>
            </div>

          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
    <mat-card class="padded" fxFlex="0 1 70" fxFlex.lt-sm="0 1 90">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
        <div class="logo-parent" fxFlex="25">
          <img alt="University at Buffalo Seal" src="assets/images/ub.png" class="logo">
        </div>
        <div>
          <mat-card-title>University at Buffalo</mat-card-title>
          <mat-card-subtitle>PhD Theoretical Chemistry :: 2006-2012</mat-card-subtitle>
          <mat-card-content>
            <div class="lighter">
              <p>
                I received my PhD at the State University of New York at Buffalo in Computational Chemistry
                under <a href="https://ja01.chem.buffalo.edu/">Dr. Jochen Autschbach</a>, focusing on optical activity
                of transition metal complexes.
              </p>
              <p>
                I managed to put out a couple papers during my time there. You can check out my
                <a href="https://scholar.google.com/citations?user=Xu1j0IMAAAAJ" target="_blank">Google Scholar</a> if
                you want to see some of the topics I've written about.
              </p>
            </div>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>

</div>
