<div class="k8ty-container" [class.k8ty-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="k8ty-toolbar">

    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()" color="accent"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">{{title}}</h1>

      <span class="toolbar-spacer"></span>

      <div *ngIf="false; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <a  mat-raised-button (click)=" snav.close();" color="primary">
          <mat-icon color="accent">exit_to_app</mat-icon> Log Out
        </a>
      </ng-template>
      <ng-template #elseBlock>
        <a (click)="snav.close()" mat-raised-button routerLink="sign-in" color="primary">
          <mat-icon color="accent"> account_box</mat-icon> Sign In
        </a>
        <a (click)="snav.close()" mat-raised-button routerLink="sign-up" color="primary">
          <mat-icon color="accent">backup</mat-icon> Sign Up
        </a>
      </ng-template>

    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container class="k8ty-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a (click)="snav.close()" mat-list-item routerLink="">Main</a>
        <a (click)="snav.close()" mat-list-item routerLink="about">About</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding-top: 1em;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


