<div>
  <mat-card class="single-card">
    <mat-card-title>k8ty --help</mat-card-title>
    <mat-card-content>
      <div>
        This website is (going to be) a collection of web services built on a Scala back-end with an Angular front-end.
      </div>
    </mat-card-content>
  </mat-card>
</div>
