html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.single-card {
  padding-top: 3em;
  max-width: 500px;
  margin: 3em auto auto;

}

.single-card-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.single-card-input-full-width {
  padding-top: 0.5em;
  width: 100%;
}

.card-action-spacer {
  flex: 1 1 auto;
}
